*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
/.eggs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
cover/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.settings/

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
